.header,
.footer,
.main {
  padding: 5px;
}

  .header {
    color:rgb(43, 32, 201);
    background-color: #050007;
  }
  .main{
    color:rgb(247, 245, 245);
    background-color: #050007;
  }
  .footer{
    color:rgb(247, 245, 245);
    background-color: #050007;
  }
  
